<div class="panel panel-default form-panel">


    <div class="panel-heading">
        <h3>Payment Accepted</h3>
        @*<strong>Payment Accepted</strong>*@
    </div>


    <div class="panel-body">
       
        @*<img src="@Url.Content("~/Themes/NopRoot/Content/images/PaypalVisaMaster.jpg")" style="width:200px;border:1px solid #ddd;margin-bottom:2px;">
        <img src="@Url.Content("~/Themes/NopRoot/Content/images/BankTransfer.jpg")" style="width:200px;border:1px solid #ddd;">*@
        @*<img src="@Url.Content("~/Themes/NopRoot/Content/images/BankTransfer.jpg")" style="width:200px;margin-left:5px;">*@
        <img src="@Url.Content("~/Themes/NopRoot/Content/images/PaypalVisaMaster.jpg")" style="width:200px;">
        
    </div>



</div>

<div class="panel panel-default form-panel">


    <div class="panel-heading">
        <h3>Why Choose Us</h3>
        @*<strong>Payment Accepted</strong>*@
    </div>


    <div class="panel-body">

        @*<img src="@Url.Content("~/Themes/NopRoot/Content/images/PaypalVisaMaster.jpg")" style="width:200px;border:1px solid #ddd;margin-bottom:2px;">
            <img src="@Url.Content("~/Themes/NopRoot/Content/images/BankTransfer.jpg")" style="width:200px;border:1px solid #ddd;">*@
        @*<img src="@Url.Content("~/Themes/NopRoot/Content/images/BankTransfer.jpg")" style="width:200px;margin-left:5px;">*@
        <div style="margin-bottom:10px;">
            <img src="@Url.Content("~/Themes/NopRoot/Content/images/ShippingIcon.png")" style="width:25px;">
            <span><strong>98%</strong> dispatch next biz day</span>
        </div>
        <div style="margin-bottom:10px;">
            <img src="@Url.Content("~/Themes/NopRoot/Content/images/PackageIcon.png")" style="width:25px;">
            <span><strong>90%</strong> free shipping Aus wide</span>
        </div>
        <div style="margin-bottom:10px;">
            <img src="@Url.Content("~/Themes/NopRoot/Content/images/Warranty.png")" style="width:25px;">
            <span><strong>1 year</strong> manufacture warranty</span>
        </div>
        <div>
            <img src="@Url.Content("~/Themes/NopRoot/Content/images/FeatureIcon.png")" style="width:25px;">
            <span><strong>24/7</strong> customer service support</span>
        </div>
        @*<div>
            <img src="@Url.Content("~/Themes/NopRoot/Content/images/TCIcon.png")" style="width:25px;">
            <span>98% dispatch next business day, 90% item for free shipping</span>
        </div>*@

    </div>



</div>
